.stuff {
  font-size: 29.0304px; }

.things {
  font-size: 20.16px; }

h1 {
  font-size: 159.46875px; }

h2 {
  font-size: 106.3125px; }

h3 {
  font-size: 70.875px; }

h4 {
  font-size: 47.25px; }

h5 {
  font-size: 31.5px; }

h6 {
  font-size: 21px; }
