.order {
  order: 1; }

.order {
  order: 2; }

.order {
  order: 3; }

.order {
  order: 4; }

.order {
  order: 5; }

.order {
  order: 6; }

.order {
  order: 7; }

.order {
  order: 8; }

.order {
  order: 9; }

.level {
  z-index: 1; }

.level {
  z-index: 2; }

.level {
  z-index: 3; }

.level {
  z-index: 4; }

.level {
  z-index: 5; }

.col-1 {
  width: 100%; }

.col-2 {
  width: 50%; }

.col-3 {
  width: 33.33333%; }

.col-4 {
  width: 25%; }

.col-5 {
  width: 20%; }

.col-6 {
  width: 16.66667%; }

.col-7 {
  width: 14.28571%; }

.col-8 {
  width: 12.5%; }

.col-9 {
  width: 11.11111%; }

.col-10 {
  width: 10%; }

.mt-0 {
  margin-top: 0rem; }

.mt-0pt5 {
  margin-top: 0.5rem; }

.mt-1 {
  margin-top: 1rem; }

.mt-1pt5 {
  margin-top: 1.5rem; }

.mt-2 {
  margin-top: 2rem; }

.mt-2pt5 {
  margin-top: 2.5rem; }

.mt-3 {
  margin-top: 3rem; }

.mt-3pt5 {
  margin-top: 3.5rem; }

.mt-4 {
  margin-top: 4rem; }

.mt-4pt5 {
  margin-top: 4.5rem; }

.mt-5 {
  margin-top: 5rem; }

[class~="mt-0"] {
  margin-top: 0rem; }

[class~="mt-0.5"] {
  margin-top: 0.5rem; }

[class~="mt-1"] {
  margin-top: 1rem; }

[class~="mt-1.5"] {
  margin-top: 1.5rem; }

[class~="mt-2"] {
  margin-top: 2rem; }

[class~="mt-2.5"] {
  margin-top: 2.5rem; }

[class~="mt-3"] {
  margin-top: 3rem; }

[class~="mt-3.5"] {
  margin-top: 3.5rem; }

[class~="mt-4"] {
  margin-top: 4rem; }

[class~="mt-4.5"] {
  margin-top: 4.5rem; }

[class~="mt-5"] {
  margin-top: 5rem; }

.red0 {
  color: red; }

.red1 {
  color: #ff1a1a; }

.red2 {
  color: #ff3333; }

.red3 {
  color: #ff4d4d; }

.red4 {
  color: #ff6666; }

.red5 {
  color: #ff8080; }

.passion0 {
  color: red; }

.natural0 {
  color: green; }

.cool0 {
  color: blue; }

.passion1 {
  color: #ff1a1a; }

.natural1 {
  color: #009a00; }

.cool1 {
  color: #1a1aff; }

.passion2 {
  color: #ff3333; }

.natural2 {
  color: #00b300; }

.cool2 {
  color: #3333ff; }

.passion3 {
  color: #ff4d4d; }

.natural3 {
  color: #00cd00; }

.cool3 {
  color: #4d4dff; }

.passion4 {
  color: #ff6666; }

.natural4 {
  color: #00e600; }

.cool4 {
  color: #6666ff; }

.passion5 {
  color: #ff8080; }

.natural5 {
  color: #01ff01; }

.cool5 {
  color: #8080ff; }
